.money-Manager-container {
  padding: 25px;
}

.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  min-height: 100px;
  background-size: cover;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .bg-container {
    min-height: 200px;
    background-size: cover;
    border-radius: 10px;
  }
}

.name {
  color: #475569;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 30px;
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 45px;
    padding-top: 70px;
    padding-left: 70px;
  }
}

.welcome-section {
  color: #475569;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  padding-left: 30px;
}

@media screen and (min-width: 576px) {
  .welcome-section {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    padding-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .welcome-section {
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 500;
    padding-left: 70px;
  }
}

.span {
  color: #0b69ff;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 600;
}

@media screen and (min-width: 576px) {
  .span {
    color: #0b69ff;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 600;
  }
}

@media screen and (min-width: 576px) {
  .span {
    color: #0b69ff;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 600;
  }
}

.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  min-height: 160px;
  background-size: cover;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .bg-container {
    min-height: 300px;
    background-size: cover;
    border-radius: 10px;
  }
}

.name {
  color: #475569;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 30px;
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 45px;
    padding-top: 70px;
    padding-left: 70px;
  }
}

.welcome-section {
  color: #475569;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  padding-left: 30px;
}

@media screen and (min-width: 576px) {
  .welcome-section {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    padding-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .welcome-section {
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 500;
    padding-left: 70px;
  }
}

.span {
  color: #0b69ff;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 600;
}

@media screen and (min-width: 576px) {
  .span {
    color: #0b69ff;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 600;
  }
}

@media screen and (min-width: 576px) {
  .span {
    color: #0b69ff;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 600;
  }
}

@media screen and (min-width: 1200px) {
  .add-transaction-history-container {
    display: flex;
  }
}

.add-transaction-container {
  background-color: #ffffff;
  border: 2px solid #d7dfe9;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.form {
  padding: 10px;
}

.Heading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .Heading {
    font-size: 30px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.label {
  color: #334155;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .label {
    font-size: 20px;
  }
}

.Input-value {
  border: 2px solid #d7dfe9;
  border-radius: 5px;
  font-family: 'Roboto';
  padding: 8px;
  margin-bottom: 10px;
}

.add-button {
  background-color: #0b69ff;
  color: #ffffff;
  border-radius: 5px;
  border-width: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.history-transactions {
  width: 100%;
  min-height: 326px;
  border: 1px solid #cbd5e1;
  border-radius: 12px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .history-transactions {
    width: 55%;
    min-height: 424px;
    padding-top: 24px;
    padding-left: 28px;
    padding-right: 41px;
    padding-bottom: 40px;
    margin-top: 0px;
    margin-left: 32px;
  }
}

.transactions-table-container {
  height: 100%;
  border-radius: 8px;
}

.transactions-table {
  padding-left: 0;
  margin: 0px;
}

.table-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 48px;
  list-style-type: none;
  border: 1px solid #cbd5e1;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .table-header {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.table-header-cell {
  color: #334155;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  width: 30%;
  border-right: none;
}

@media screen and (min-width: 768px) {
  .table-header-cell {
    font-size: 16px;
  }
}
